:root {
	--nextui--navbarBackgroundColor: none;
	--nextui-colors-primaryLight: #ffffff !important;
	--nextui-colors-primary: #f2c94c !important;
}

main {
	background-color: #ffffff;
	width: 100vw;
	min-height: 100vh;
}
